/* App.css */
.slider-container {
  overflow: hidden;
  width: 80%;
  margin: auto;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 100px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.web .content {
  overflow: hidden;
  position: relative;
}

.web .left-column,
.web .right-column {
  width: 50%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease;
}

.web .left-column {
  background-color: lightblue;
  transform: translateX(100%);
}

.web .right-column {
  background-color: lightcoral;
  transform: translateX(-100%);
}

.web:hover .left-column {
  transform: translateX(0);
}

.web:hover .right-column {
  transform: translateX(0);
}
