/* App.css */
.slider-container {
  overflow: hidden;
  width: 80%;
  margin: auto;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 100px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.arrow:hover {
  background-color: #2980b9;
}
